Source: zig-0.16
Maintainer: W. Connor Yates <self@wcyates.xyz>
Build-Depends:
 debhelper-compat (= 13),
 chrpath,
 clang-21,
 cmake (>= 3.15),
 help2man,
 libclang-21-dev,
 libclang-cpp21-dev,
 liblld-21-dev,
 llvm-21-dev,
 pkgconf,
Standards-Version: 4.7.4
Section: devel
Homepage: https://ziglang.org/
Vcs-Browser: https://salsa.debian.org/zig-team/zig-0.16
Vcs-Git: https://salsa.debian.org/zig-team/zig-0.16.git

Package: zig-0.16
Architecture: any
Multi-Arch: foreign
Depends:
 libstd-zig0.16-dev (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Suggests:
 zig,
Description: General-purpose imperative language
 Zig is a general-purpose programming language and toolchain
 for maintaining robust, optimal and reusable software.
 .
 This package contains the binary for Zig.

Package: libstd-zig0.16-dev
Architecture: all
Multi-Arch: foreign
Depends:
 libclang-common-21-dev,
 ${misc:Depends},
Enhances:
 zig-0.16,
Description: General-purpose imperative language (stdlib)
 Zig is a general-purpose programming language and toolchain
 for maintaining robust, optimal and reusable software.
 .
 This package contains the Zig standard library.
